.resources-container {
  // background-color: orange;
  width: 50%;
  margin-top: 9vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, .606);
  color: white;
  backdrop-filter: blur(10px);

  p {
    width: 80%;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.resource-block {
  width: 100%;
  // background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .temp-img {
    background-color: red;
    width: 40%;
  }
}

.resources {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.body-container-resources {
  background: url('../media/background1.jpg');
  background-position: 0px;
  display: flex;
  justify-content: center;
}